html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


/** Globales **/
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
    line-height: 1.2;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

/** Utilidades **/
.centrar {
    text-align: center;
}
.no-margin {
    margin: 0;
}


/** Botones **/
.boton {
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    margin: 2rem 0;
    color: #ffffff;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    flex: 0 0 100%;
}
.boton:hover {
    cursor: pointer;
}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto!important;
    }
}
.boton-ppal {
    background-color: #000000;
}
.boton-sec {
    background-color: #784d3c;
}


/** Header **/
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.site-header {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
}
.site-header a {
    text-decoration: none;
    color: #ffffff;
}
.site-header h1 {
    font-weight: 300;
    text-align: center;
}
.site-header h1 span {
    font-weight: 700;
}
.texto-header {
    color: #ffffff;
    text-align: center;
    line-height: 1.5;
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .texto-header {
        margin-top: 19.4rem;
    }
}
.texto-header p {
    font-size: 2.2rem;
    margin-top: 0;
}


/** Navbar **/
.navegacion a {
    text-align: center;
    font-size: 1.8rem;
    display: block;
    color: #ffffff;
    text-decoration: none;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline;
        margin-right: 2rem;
    }
}


/** Main **/
.contenido-ppal {
    display: flex;
    flex-wrap: wrap;
}
.blog, 
.curso {
    flex: 0 0 100%;
}
.cursos {
    order: -1;
}
@media (min-width: 768px) {
    .contenido-ppal {
        justify-content: space-between;
    }
    .blog {
        flex-basis: 66.6%;
    }
    .cursos {
        flex-basis: calc(33.3% - 4rem);
        order: 2;
    }
}


/** Blog **/
.contenido-blog {
    border-bottom: 1px solid #e1e1e1e1;
    margin-bottom: 2rem;
}


/** Cursos **/
.lista-cursos {
    list-style: none;
    padding: 0;
}
.curso {
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-bottom: 1px solid #e1e1e1e1;
}
.curso:last-of-type {
    border-bottom: none;
}
.curso p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.curso p span {
    font-weight: 400;
}

/** Footer **/
footer {
    background-color: #000000;
    height: 14rem;
}
.site-footer a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}
.barra {
    padding-top: 2rem;
}
.site-footer h1 {
    font-weight: 300;
    text-align: center;
}
.site-footer h1 span {
    font-weight: 700;
}
@media (max-width: 768px) {
    .site-footer {
        padding: 0;
        height: 26rem;
        background-color: #000000;
    }
}


/** Nosotros **/
@media (min-width: 768px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 2rem;
        margin-bottom: 2rem;
    }
}


/** Cursos **/
.talleres h2 {
    text-align: center;
}
.taller {
    border-bottom: 1px solid #e1e1e1e1;
    padding: 2rem 0;
}
.contenido-taller p {
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
}
.contenido-taller p span {
    font-weight: 700;
    font-size: 2rem;
}
@media (min-width: 768px) {
    .talleres .taller {
        display: grid;
        grid-template-columns: 33% 66%;
        grid-gap: 2rem;
    }
}


/** Contacto **/
.formulario-contacto {
    flex: 0 0 calc(83.3%);
    padding: 1rem 5rem;
    background-color: #ffffff;
}
@media (min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .centrar-columnas {
        justify-content: center;
    } 
}
.formulario-contacto .campo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.formulario-contacto .campo label {
    flex: 0 0 8rem;
}
.formulario-contacto .campo input:not([submit]),
.formulario-contacto .campo textarea {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}
.formulario-contacto .campo textarea {
    height: 20rem;
}
.formulario-contacto .enviar {
    display: flex;
    justify-content: flex-end;
}
